@font-face {
  font-family: 'Pr-Nova-Reg';
  src: url(../fonts/proximanova/ProximaNova-Regular.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Regular.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Regular.woff) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'Pr-Nova-Bold';
  src: url(../fonts/proximanova/ProximaNova-Bold.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Bold.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Bold.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: 'Pr-Nova-Light';
  src: url(../fonts/proximanova/ProximaNova-Light.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Light.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Light.woff) format("woff");
  font-weight: light;
}
@font-face {
  font-family: 'Open-Sans-Reg';
  src: url(../fonts/opensans/OpenSans-Regular.eot) format("eot");
  src: url(../fonts/opensans/OpenSans-Regular.ttf) format("ttf");
  src: url(../fonts/opensans/OpenSans-Regular.woff) format("woff");
  font-weight: normal;
}
/* common */
body {
  font-family: 'Open-Sans-Reg';
  font-size: 16px;
}
h1 {
  font-family: 'Pr-Nova-Bold';
  font-size: 36px;
  text-align: center;
  padding-top: 70px;
}
h1:after {
  content: '';
  display: block;
  margin-left: 120px;
  width: 80px;
  text-align: center;
  border-bottom: 2px solid;
}
h2 {
  font-family: 'Pr-Nova-Bold';
  font-size: 36px;
  text-align: center;
  -webkit-margin-before: 0;
}
h2:after {
  content: '';
  display: block;
  margin-left: 120px;
  margin-top: 0;
  width: 80px;
  text-align: center;
  border-bottom: 2px solid;
}
h3 {
  font-family: 'Pr-Nova-Bold';
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none;
}
[class*="__inner"] {
  margin: 0 auto;
}
/*бэм-блоки*/
.fast-contacts {
  background-color: #E9E9F1;
  display: flex;
  align-items: baseline;
}
.contacts {
  font-family: 'Pr-Nova-Light';
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0px;
  padding-left: 0px;
}
.contacts--inline {
  display: flex;
  /*justify-content: flex-end;*/
}
.contacts__item--icon1:before {
  display: inline-block;
  content: '';
  width: 19px;
  height: 19px;
  background-image: url(../img/contacts__item--time.png);
  background-size: cover;
}
.contacts__item--icon2:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../img/contacts__item--phone.png);
  background-size: cover;
}
.contacts__item--icon3:before {
  display: inline-block;
  content: '';
  width: 13px;
  height: 18px;
  background-image: url(/img/contacts__item--place.png);
  background-size: cover;
}
.burger {
  flex-grow: 2;
  text-align: right;
  padding-right: 10px;
}
.btn {
  display: inline-block;
  border: 1px solid #000;
  padding: 8px 23px;
  margin-left: 15px;
}
/*header*/
.page-header {
  background: url(../img/header320.png) no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.main-nav {
  display: inline-flex;
}
.main-nav__item {
  display: inline-block;
}
.promo__btn {
  margin-bottom: 80px;
}
[class*="promo__text"] {
  padding-top: 70px;
  padding-bottom: 40px;
  margin-left: 15px;
}
.traces {
  background: url(../img/traces320.png) no-repeat;
  background-size: cover;
  background-position: top;
}
.traces__title {
  color: #fff;
}
.traces__slider-item {
  /*background: rgba(56, 63, 70, 0.8);*/
}
.traces .track {
  text-align: center;
}
.traces .track--1 {
  background: #383F46 url(../img/track-1.jpg);
  background-size: cover;
}
.traces .track--2 {
  background-image: url(../img/track-2.jpg);
  background-size: cover;
}
.traces .track--3 {
  background-image: url(../img/track-3.jpg);
  background-size: cover;
}
.traces .track--4 {
  background-image: url(../img/track-4.jpg);
  background-size: cover;
}
.traces .track--5 {
  background-image: url(../img/track-5.jpg);
  background-size: cover;
}
.traces .track__title {
  color: #C8C8D4;
}
.traces .track__list {
  color: #fff;
}
.traces .track__content {
  color: #fff;
}
.sales__item {
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}
.sales__item--1 {
  background: url(../img/sales__img1.png) no-repeat;
}
.sales__item--2 {
  background: url(../img/sales__img2.png) no-repeat;
}
.sales__item--3 {
  background: url(../img/sales__img3.png) no-repeat;
}
.sales__text {
  padding-top: 135px;
  padding-bottom: 15px;
  padding-left: 12px;
  color: #fff;
  font-family: 'Pr-Nova-Bold';
  font-size: 24px;
}
.about {
  background: url(../img/about320.png) no-repeat;
  background-size: cover;
  background-position: center;
}
/*адаптивность*/
/*320*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  [class*="__inner"] {
    width: 320px;
  }
  [class*="--768"] {
    display: none;
  }
  [class*="--x768"] {
    display: none;
  }
  [class*="--1200"] {
    display: none;
  }
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  [class*="__inner"] {
    width: 760px;
  }
  [class*="--320"] {
    display: none;
  }
  [class*="--1200"] {
    display: none;
  }
}
/*1200*/
@media only screen and (min-width: 1200px) {
  [class*="__inner"] {
    width: 1170px;
  }
  [class*="--320"] {
    display: none;
  }
  [class*="--x320"] {
    display: none;
  }
  [class*="--768"] {
    display: none;
  }
}
