@font-face {
  font-family: 'PrNovaReg';
  src: url(../fonts/proximanova/ProximaNova-Regular.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Regular.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'PrNovaBold';
  src: url(../fonts/proximanova/ProximaNova-Bold.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Bold.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'PrNovaLight';
  src: url(../fonts/proximanova/ProximaNova-Light.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Light.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Light.woff) format("woff");
  font-weight: light; }

@font-face {
  font-family: 'OpenSansReg';
  src: url(../fonts/opensans/OpenSans-Regular.eot) format("eot");
  src: url(../fonts/opensans/OpenSans-Regular.ttf) format("ttf");
  src: url(../fonts/opensans/OpenSans-Regular.woff) format("woff");
  font-weight: normal; }

a {
  color: #000;
  text-decoration: none; }

ul {
  margin: 0px 0px;
  padding-left: 0px;
  list-style-type: none; }

h1, h2 {
  text-transform: uppercase; }

.btn {
  display: block;
  width: 146px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'PrNovaReg';
  font-size: 16px;
  text-align: center; }

/*320*/
[class*="__inner"] {
  width: 320px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px; }

.contacts {
  font-family: 'PrNovaLight';
  font-size: 16px; }
  .contacts--header {
    display: inline-block; }
    .contacts--header .contacts__item {
      display: inline-block;
      vertical-align: middle; }
      .contacts--header .contacts__item--icon1 {
        display: none; }
      .contacts--header .contacts__item--icon3 {
        display: none; }
  .contacts--footer .contacts__item {
    display: block; }
  .contacts--footer .contacts__link {
    color: #dadae7; }

.fast-contacts {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  vertical-align: middle; }
  .fast-contacts__burger {
    display: block;
    width: 25px;
    height: 25px;
    float: right; }

.page-header {
  background-image: url("../img/320/header_bg.png");
  background-size: cover;
  background-position: center bottom; }
  .page-header__btn {
    display: none; }

.logo {
  display: none; }

.main-nav {
  display: none; }

.promo {
  padding-top: 80px;
  padding-bottom: 80px; }
  .promo__title {
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-bottom: 82px; }
    .promo__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }
  .promo__teaser {
    padding-right: 130px;
    font-family: 'OpenSansReg';
    font-size: 16px; }
  .promo__text {
    display: none; }
  .promo__btn {
    margin-top: 45px;
    border: 1px solid #000; }

.traces {
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, transparent 85%, #fff), url("../img/320/traces_bg.png");
  background-size: cover;
  background-position: center top; }
  .traces__title {
    color: #fff;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px; }
    .traces__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #fff; }

.track {
  position: relative;
  width: 214px;
  margin: 10px auto;
  padding-top: 14px;
  padding-bottom: 54px;
  text-align: center;
  background-size: cover;
  background-position: center; }
  .track:after {
    content: '';
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22313f;
    opacity: .75;
    z-index: 1; }
  .track--1 {
    background-image: url("../img/track__img1.png"); }
  .track--2 {
    background-image: url("../img/track__img2.png"); }
  .track--3 {
    background-image: url("../img/track__img3.png"); }
  .track--4 {
    background-image: url("../img/track__img4.png"); }
  .track--5 {
    background-image: url("../img/track__img5.png"); }
  .track__header {
    position: relative;
    z-index: 2;
    margin-bottom: 70px; }
  .track__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #c7c7d3;
    font-family: 'PrNovaBold';
    font-size: 30px;
    text-align: center; }
  .track__list {
    color: #fff;
    font-family: 'OpenSansReg';
    font-size: 16px; }
    .track__list-item {
      padding-bottom: 15px; }
      .track__list-item:before {
        vertical-align: middle; }
      .track__list-item--height:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 22px;
        margin-right: 10px;
        background-image: url("../img/icons/icon-rocks.png");
        background-size: cover; }
      .track__list-item--age:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 27px;
        margin-right: 10px;
        background-image: url("../img/icons/icon-age.png");
        background-size: cover; }
  .track__content {
    position: relative;
    z-index: 2; }
  .track__img {
    display: none; }
  .track__text {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-family: 'OpenSansReg';
    font-size: 16px; }

.sales {
  margin-bottom: 30px; }
  .sales__title {
    margin-top: -40px;
    margin-bottom: 50px;
    color: #000;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center; }
    .sales__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }
  .sales__item {
    width: 293px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 188px;
    padding-bottom: 25px;
    margin-bottom: 13px;
    background-size: cover;
    background-position: center; }
    .sales__item--1 {
      background-image: url("../img/320/sales__item_bg1.png"); }
    .sales__item--2 {
      background-image: url("../img/320/sales__item_bg2.png"); }
    .sales__item--3 {
      background-image: url("../img/320/sales__item_bg3.png"); }
  .sales__text {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'PrNovaBold';
    font-size: 24px; }

.about__top {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  background-image: url("../img/320/about_bg.png");
  background-size: cover;
  background-position: center; }

.about__title {
  color: #fff;
  font-family: 'PrNovaBold';
  font-size: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px; }
  .about__title:after {
    content: '';
    display: block;
    width: 80px;
    padding-top: 8px;
    margin: 0 auto;
    border-bottom: 2px solid #fff; }

.about__item {
  display: inline-block;
  margin-bottom: 40px; }
  .about__item:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover; }
  .about__item--1:before {
    background-image: url("../img/icons/icon-outfit.png"); }
  .about__item--2:before {
    background-image: url("../img/icons/icon-tracks.png"); }
  .about__item--3:before {
    background-image: url("../img/icons/icon-help.png"); }

.about__text {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  width: 205px;
  color: #fff;
  font-family: 'OpenSansReg';
  font-size: 14px; }

.about__bottom {
  margin-bottom: 30px; }

.about__img {
  margin: auto;
  width: 217px; }

.prices-reviews-wrapper {
  padding-bottom: 30px;
  background-image: url("../img/320/prices-reviews_bg.png");
  background-size: cover;
  background-position: center; }

.prices__title {
  color: #000;
  font-family: 'PrNovaBold';
  font-size: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px; }
  .prices__title:after {
    content: '';
    display: block;
    width: 80px;
    padding-top: 8px;
    margin: 0 auto;
    border-bottom: 2px solid #000; }

.reviews {
  position: relative;
  margin: 0 auto; }
  .reviews:before {
    content: '';
    position: absolute;
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    z-index: 1;
    background-color: #e7e7e7;
    opacity: .6; }
  .reviews__inner {
    position: relative;
    z-index: 2; }
  .reviews__title {
    color: #000;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px; }
    .reviews__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }

.comment {
  padding-top: 14px;
  padding-bottom: 54px;
  text-align: center; }
  .comment__img {
    margin: auto; }
  .comment__name {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .comment__personality {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px; }
  .comment__list {
    margin-top: 12px; }
    .comment__list-item {
      display: inline-block;
      vertical-align: middle; }
  .comment__link {
    display: block;
    background-size: cover;
    background-position: center;
    margin-left: 5px; }
    .comment__link--instagram {
      width: 21px;
      height: 21px;
      background-image: url("../img/icons/feedback-insta-icon.png"); }
    .comment__link--vk {
      width: 30px;
      height: 18px;
      background-image: url("../img/icons/feedback-vk-icon.png"); }
  .comment__quote {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px; }

.page-footer {
  background-color: #22313f;
  padding-bottom: 30px; }
  .page-footer .up-btn {
    float: right;
    display: block;
    width: 43px;
    height: 43px;
    background-image: url("../img/icons/up-btn.png"); }
  .page-footer__right {
    display: none; }
  .page-footer-nav__list {
    margin-top: 20px;
    margin-bottom: 20px; }
  .page-footer-nav__item {
    margin-bottom: 10px; }
  .page-footer-nav__link {
    color: #dadae7;
    text-transform: uppercase;
    font-family: 'OpenSansReg';
    font-size: 14px; }

.social-networks {
  display: inline-block;
  width: 50%; }
  .social-networks__item {
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle; }
  .social-networks__link {
    display: block; }
    .social-networks__link--twitter {
      width: 28px;
      height: 24px;
      background-image: url("../img/icons/footer__twitter-icon.png"); }
    .social-networks__link--vk {
      width: 32px;
      height: 19px;
      background-image: url("../img/icons/footer__vk-icon.png"); }
    .social-networks__link--instagram {
      width: 24px;
      height: 24px;
      background-image: url("../img/icons/footer__instagram-icon.png"); }

/*768*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  [class*="__inner"] {
    width: 768px; }
  .contacts--header {
    display: inline-block; }
    .contacts--header .contacts__item {
      display: inline-block;
      vertical-align: middle; }
      .contacts--header .contacts__item--icon1 {
        display: inline-block; }
      .contacts--header .contacts__item--icon3 {
        display: inline-block; }
  .promo__text {
    display: block; } }

/*1200*/
@media only screen and (min-width: 1200px) {
  [class*="__inner"] {
    width: 1200px; } }
