@font-face {
  font-family: 'PrNovaReg';
  src: url(../fonts/proximanova/ProximaNova-Regular.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Regular.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'PrNovaBold';
  src: url(../fonts/proximanova/ProximaNova-Bold.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Bold.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'PrNovaLight';
  src: url(../fonts/proximanova/ProximaNova-Light.eot) format("eot");
  src: url(../fonts/proximanova/ProximaNova-Light.ttf) format("ttf");
  src: url(../fonts/proximanova/ProximaNova-Light.woff) format("woff");
  font-weight: light; }

@font-face {
  font-family: 'OpenSansReg';
  src: url(../fonts/opensans/OpenSans-Regular.eot) format("eot");
  src: url(../fonts/opensans/OpenSans-Regular.ttf) format("ttf");
  src: url(../fonts/opensans/OpenSans-Regular.woff) format("woff");
  font-weight: normal; }

a {
  color: #000;
  text-decoration: none; }

ul {
  margin: 0px 0px;
  padding-left: 0px;
  list-style-type: none; }

h1, h2 {
  text-transform: uppercase; }

.btn {
  display: block;
  width: 146px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'PrNovaReg';
  font-size: 16px;
  text-align: center; }

/*320*/
[class*="__inner"] {
  width: 320px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box; }

.contacts {
  font-family: 'PrNovaLight';
  font-size: 16px; }
  .contacts--header {
    display: inline-block; }
    .contacts--header .contacts__item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 4px; }
      .contacts--header .contacts__item--icon1 {
        display: none; }
      .contacts--header .contacts__item--icon2 .contacts__link:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: baseline;
        margin-left: 10px;
        margin-right: 4px;
        margin-top: 4px;
        background-image: url("../img/icons/contacts__item--phone.png");
        background-size: cover; }
      .contacts--header .contacts__item--icon3 {
        display: none; }
  .contacts--footer .contacts__item {
    display: block; }
  .contacts--footer .contacts__link {
    color: #dadae7; }

.fast-contacts {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  vertical-align: middle; }
  .fast-contacts__burger {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: right;
    background-image: url("../img/icons/Burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: transform .1s; }
  .fast-contacts__burger--click {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }

.page-header {
  background-image: url("../img/320/header_bg.png");
  background-size: cover;
  background-position: center bottom; }
  .page-header__btn {
    display: none; }

.logo {
  display: none; }

.main-nav {
  display: none; }

.promo {
  padding-top: 120px;
  padding-bottom: 260px; }
  .promo__title {
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px; }
    .promo__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }
  .promo__teaser {
    padding-right: 130px;
    font-family: 'OpenSansReg';
    font-size: 16px; }
  .promo__text {
    display: none; }
  .promo__btn {
    margin-top: 45px;
    border: 1px solid #000; }

.traces {
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, transparent 85%, #fff), url("../img/320/traces_bg.png");
  background-size: cover;
  background-position: center top; }
  .traces__title {
    color: #fff;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px; }
    .traces__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #fff; }

.track {
  position: relative;
  width: 214px;
  margin: 10px auto;
  padding-top: 14px;
  padding-bottom: 54px;
  text-align: center;
  background-size: cover;
  background-position: center; }
  .track:after {
    content: '';
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22313f;
    opacity: .75;
    z-index: 1; }
  .track--1 {
    background-image: url("../img/tracks/track__img1.png"); }
  .track--2 {
    background-image: url("../img/tracks/track__img2.png"); }
  .track--3 {
    background-image: url("../img/tracks/track__img3.png"); }
  .track--4 {
    background-image: url("../img/tracks/track__img4.png"); }
  .track--5 {
    background-image: url("../img/tracks/track__img5.png"); }
  .track__header {
    position: relative;
    z-index: 2;
    margin-bottom: 70px; }
  .track__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #c7c7d3;
    font-family: 'PrNovaBold';
    font-size: 30px;
    text-align: center; }
  .track__list {
    color: #fff;
    font-family: 'OpenSansReg';
    font-size: 16px; }
    .track__list-item {
      padding-bottom: 15px; }
      .track__list-item:before {
        vertical-align: middle; }
      .track__list-item--height:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 22px;
        margin-right: 10px;
        background-image: url("../img/icons/icon-rocks.png");
        background-size: cover; }
      .track__list-item--age:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 27px;
        margin-right: 10px;
        background-image: url("../img/icons/icon-age.png");
        background-size: cover; }
  .track__content {
    position: relative;
    z-index: 2; }
  .track__img {
    display: none; }
  .track__text {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-family: 'OpenSansReg';
    font-size: 16px; }

.sales {
  margin-bottom: 30px; }
  .sales__title {
    margin-top: -40px;
    margin-bottom: 50px;
    color: #000;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center; }
    .sales__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }
  .sales__item {
    width: 293px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 188px;
    padding-bottom: 25px;
    margin-bottom: 13px;
    background-size: cover;
    background-position: center; }
    .sales__item--1 {
      background-image: url("../img/320/sales__item_bg1.png"); }
    .sales__item--2 {
      background-image: url("../img/320/sales__item_bg2.png"); }
    .sales__item--3 {
      background-image: url("../img/320/sales__item_bg3.png"); }
  .sales__text {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'PrNovaBold';
    font-size: 24px; }

.about__top {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 293px;
  margin-bottom: 30px;
  background-image: url("../img/320/about_bg.png");
  background-size: cover;
  background-position: center; }

.about__title {
  color: #fff;
  font-family: 'PrNovaBold';
  font-size: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px; }
  .about__title:after {
    content: '';
    display: block;
    width: 80px;
    padding-top: 8px;
    margin: 0 auto;
    border-bottom: 2px solid #fff; }

.about__wrap-item {
  width: 100%; }

.about__item {
  display: inline-block;
  margin-bottom: 40px; }
  .about__item:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover; }
  .about__item--1:before {
    background-image: url("../img/icons/icon-outfit.png"); }
  .about__item--2:before {
    background-image: url("../img/icons/icon-tracks.png"); }
  .about__item--3:before {
    background-image: url("../img/icons/icon-help.png"); }

.about__text {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  width: 205px;
  color: #fff;
  font-family: 'OpenSansReg';
  font-size: 14px; }

.about__bottom {
  width: 218px;
  margin: 30px auto; }

.about__img {
  margin: auto;
  width: 217px; }

.prices-reviews-wrapper {
  padding-bottom: 30px;
  background-image: url("../img/320/prices-reviews_bg.png");
  background-size: cover;
  background-position: center; }

.prices {
  margin-bottom: 21px; }
  .prices__title {
    color: #000;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px; }
    .prices__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }
  .prices__table {
    display: none; }
  .prices__select {
    display: block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'OpenSansReg';
    font-size: 16px;
    text-align: center;
    border: none;
    border-top: 1px solid #000;
    appearance: none;
      appearance--webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent; }
    .prices__select:focus {
      color: red; }
  .prices__costs {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'OpenSansReg';
    font-size: 16px;
    background-color: #e7e7e7; }
    .prices__costs-number {
      float: right; }
  .prices__per-hour {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
    font-family: 'OpenSansReg';
    font-size: 10px; }
    .prices__per-hour-number {
      float: right; }
  .prices__form {
    width: 300px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-sizing: border-box;
    overflow: hidden; }
  .prices__btn {
    display: block;
    margin: 0 auto;
    color: #fefefe;
    font-family: 'PrNovaReg';
    font-size: 16px;
    text-transform: uppercase;
    background-color: #800000;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 27px;
    padding-right: 27px; }
  .prices__secure-pdf {
    display: block;
    margin: 0 auto;
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 14px;
    text-decoration: underline;
    text-align: center; }

.reviews {
  margin: 0 auto;
  padding-top: 36px; }
  .reviews__inner {
    position: relative;
    z-index: 2; }
    .reviews__inner:before {
      content: '';
      position: absolute;
      top: 0px;
      margin: 0 auto;
      width: 300px;
      height: 100%;
      z-index: 1;
      background-color: #e7e7e7;
      opacity: .6; }
  .reviews__slider {
    width: 100%; }
  .reviews__title {
    color: #000;
    font-family: 'PrNovaBold';
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    z-index: 2;
    position: relative; }
    .reviews__title:after {
      content: '';
      display: block;
      width: 80px;
      padding-top: 8px;
      margin: 0 auto;
      border-bottom: 2px solid #000; }

.comment {
  padding-top: 14px;
  padding-bottom: 54px;
  text-align: center; }
  .comment__img {
    margin: auto; }
  .comment__name {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .comment__personality {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px; }
  .comment__list {
    margin-top: 12px; }
    .comment__list-item {
      display: inline-block;
      vertical-align: middle; }
  .comment__link {
    display: block;
    background-size: cover;
    background-position: center;
    margin-left: 5px; }
    .comment__link--instagram {
      width: 21px;
      height: 21px;
      background-image: url("../img/icons/feedback-insta-icon.png"); }
    .comment__link--vk {
      width: 30px;
      height: 18px;
      background-image: url("../img/icons/feedback-vk-icon.png"); }
  .comment__quote {
    color: #22313f;
    font-family: 'OpenSansReg';
    font-size: 16px; }

.page-footer {
  background-color: #22313f;
  padding-bottom: 30px; }
  .page-footer .up-btn {
    float: right;
    display: block;
    width: 43px;
    height: 43px;
    background-image: url("../img/icons/up-btn.png"); }
  .page-footer__right {
    display: none; }
  .page-footer-nav__list {
    margin-top: 20px;
    margin-bottom: 20px; }
  .page-footer-nav__item {
    margin-bottom: 10px; }
  .page-footer-nav__link {
    color: #dadae7;
    text-transform: uppercase;
    font-family: 'OpenSansReg';
    font-size: 14px; }

.social-networks {
  display: inline-block;
  width: 50%; }
  .social-networks__item {
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle; }
  .social-networks__link {
    display: block; }
    .social-networks__link--twitter {
      width: 28px;
      height: 24px;
      background-image: url("../img/icons/footer__twitter-icon.png"); }
    .social-networks__link--vk {
      width: 32px;
      height: 19px;
      background-image: url("../img/icons/footer__vk-icon.png"); }
    .social-networks__link--instagram {
      width: 24px;
      height: 24px;
      background-image: url("../img/icons/footer__instagram-icon.png"); }

/*768*/
@media only screen and (min-width: 768px) {
  [class*="__inner"] {
    width: 768px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box; }
  .fast-contacts {
    text-align: right; }
    .fast-contacts__burger {
      display: none; }
  .contacts--header {
    display: inline-block; }
    .contacts--header .contacts__item {
      display: inline-block;
      vertical-align: middle;
      margin-left: 55px; }
      .contacts--header .contacts__item--icon1 {
        display: inline-block; }
        .contacts--header .contacts__item--icon1:before {
          content: '';
          display: inline-block;
          width: 19px;
          height: 19px;
          vertical-align: baseline;
          margin-left: 10px;
          margin-right: 4px;
          margin-top: 4px;
          background-image: url("../img/icons/contacts__item--time.png");
          background-size: cover; }
      .contacts--header .contacts__item--icon3 {
        display: inline-block;
        margin-right: 15px; }
        .contacts--header .contacts__item--icon3:before {
          content: '';
          display: inline-block;
          width: 13px;
          height: 18px;
          vertical-align: baseline;
          margin-left: 10px;
          margin-right: 4px;
          margin-top: 4px;
          background-image: url("../img/icons/contacts__item--place.png");
          background-size: cover; }
  .promo__text {
    display: block;
    font-family: 'OpenSansReg';
    font-size: 16px;
    line-height: 31px; }
  .page-header {
    background-image: url("../img/768/header_bg.png");
    background-size: cover;
    background-position: center bottom;
    padding-top: 40px; }
    .page-header .logo {
      display: inline-block;
      vertical-align: middle; }
    .page-header .main-nav {
      display: inline-block;
      margin-left: 100px;
      vertical-align: middle; }
      .page-header .main-nav__list {
        display: inline-block; }
      .page-header .main-nav__item {
        display: inline-block;
        font-family: 'PrNovaReg';
        font-size: 20px;
        margin-left: 46px; }
  .traces {
    background-image: linear-gradient(to bottom, transparent 85%, #fff), url("../img/320/traces_bg.png"); }
  .track__img {
    display: inline; }
  .track__header {
    margin-bottom: 0px; }
  .track--1, .track--2, .track--3, .track--4, .track--5 {
    background-image: none; }
  .sales__item {
    width: 100%;
    box-sizing: border-box; }
    .sales__item--1 {
      background-image: url("../img/768/sales__item_bg1.png"); }
    .sales__item--2 {
      background-image: url("../img/768/sales__item_bg2.png"); }
    .sales__item--3 {
      background-image: url("../img/768/sales__item_bg3.png"); }
  .sales__text {
    font-size: 30px; }
  .about__top {
    width: 100%;
    box-sizing: border-box; }
  .about__wrap-item {
    width: 700px;
    margin: 0 auto; }
  .about__item {
    width: 200px; }
    .about__item:before {
      display: block;
      margin: 10px auto; }
    .about__item--2 {
      margin-left: 40px; }
    .about__item--3 {
      margin-left: 40px; }
  .about__bottom {
    width: 100%; }
  .about__img {
    width: 245px; }
  .prices__mobile {
    display: none; }
  .prices__table {
    width: 740px;
    margin: 0 auto;
    display: block;
    border-collapse: collapse;
    font-family: 'OpenSansReg';
    font-size: 16px; }
    .prices__table-head {
      color: #dadae7;
      background-color: #22313f; }
    .prices__table-extra-time {
      text-align: center;
      text-transform: uppercase; }
    .prices__table-operator {
      background-color: #f0f0f0;
      opacity: 91%; }
      .prices__table-operator-price {
        text-align: right; }
    .prices__table-th {
      text-align: center; }
    .prices__table-time {
      text-align: right;
      background-color: #e7e7e7;
      padding-right: 20px; }
    .prices__table-col1 {
      width: 370px;
      color: #dadae7;
      background-color: #22313f;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box; }
    .prices__table-price {
      width: 185px;
      text-align: center; }
    .prices__table td {
      padding-top: 16px;
      padding-bottom: 16px; }
  .reviews__inner:before {
    width: 740px; }
  .comment {
    width: 200px;
    margin: 0 auto;
    box-sizing: border-box; } }

/*1200*/
@media only screen and (min-width: 1200px) {
  [class*="__inner"] {
    width: 1200px;
    margin: 0 auto; } }
