@import fonts

a
	color: #000
	text-decoration: none

ul
	margin: 0px 0px
	padding-left: 0px
	list-style-type: none

h1, h2
	text-transform: uppercase

.btn
	display: block
	width: 146px
	padding-top: 5px
	padding-bottom: 5px

	font-family: 'PrNovaReg'
	font-size: 16px
	text-align: center

/*320*/
@import _styles-320.sass
/*768*/
@import _styles-768.sass
/*1200*/
@import _styles-1200.sass
